     <!--banner section -->
    <section id="banner" ng-controller="MainCtrl as main">

            <img src="../images/Laptop-coffee-cup.jpg" alt="banner">

            <div class="banner-content">
                <div class="wrapper">
                    <p class="banner-content__heading">Rumman Khan</p>
                    <p class="banner-content__description">Frontend Engineer</p>
                    <p class="banner-content__text">HTML 5, JavaScript, CSS 3, Angular Js, jQuery </p>
                    <p class="banner-content__dummy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel velit finibus, mollis odio vitae, luctus sem. Aliquam velit ex, rhoncus ut sagittis sed, lacinia eget risus. Phasellus feugiat lacus eu enim aliquet,
                    a semper nunc euismod. Mauris porttitor ligula pellentesque, porta dolor eget, sodales mauris. </p>
                  <!--  <button type="button" class="signIn-button">Sign In</button>-->
                    <a ui-sref="content" class="add-content">Add Content</a>
                </div>
        </div>
    </section>

     <!--content section -->
     <section id="content" ng-controller="MainCtrl as main">
         <div class="wrapper">
             <ul>
                 <li ng-repeat="content in main.contents">
                     <h4>{{content.title}}</h4>
                     <p>{{content.body}}</p>
                 </li>
             </ul>
         </div>
     </section>
